@import "tailwindcss";

@theme {
  --color-primary: var(--color-emerald-500);
  --color-secondary: var(--color-slate-900);
  --color-background: var(--color-slate-950);
  --color-accent: var(--color-sky-400);
}